.sidebar {
  width: 300px;
  border-right: 1px solid black;
  position: absolute;
  bottom: 0;
  top: 0;

  .add-note {
    cursor: pointer;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    font-weight: bold;
  }

  .note {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 13px;
    padding-bottom: 18px;

    .title {
      font-size: 24px;
      margin: 0px;
      text-align: left;

    }
    .desc {
      text-align: left;
      margin: 0px;
      font-size: 13px;
      margin-bottom: 5px;
    }

    .delete {
      color: red;
      text-align: left;
      font-size: 10px;
      float: left;
    }

    .date {
      font-size: 9px;
      color: #8d8d8d;
      text-align: right;
      margin-left: auto;
      display: block;
      float: right;
    }
  }
}

.main {
  margin-left: 310px;
  margin-right: 10px;

  label {
    float: left;
    font-size: 11px;
    color: #777777;
  }

  textarea, input {
    width: 100%
  }
}
body {
  margin: 0px;
}


